# Python
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
api-venv/
media-venv/
.venv/
venv/

# Python tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Go
bin/
*.exe
*.test
*.out

# Environment variables
.env
.env.*

# VSCode / Cursor
.vscode/

# Docker
*.log

# OS
.DS_Store
Thumbs.db